grant {
    // anything
    permission java.security.AllPermission;    
permission java.net.SocketPermission "localhost:9999", "accept,connect,listen";

};